<include("src/layouts/vendor/awly/blank")>
    <@title>
        Awly todo app
    </@title>
    <@body>
        <div.page-center>
            <div.todo-title>todos</div>
        </div>
    </@body>
</include>
